* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
}
.header .navbar-brand {
    font-size: 35px;
}

.sp-thongbao {
    color: red;
    margin-left: 2px; 
    display: none;
}

.input-group-append span{
    padding: 5px 20px;
    background-color: #c4c4c4;
    color: black;
    border: solid 0;
}
.input-group-append span:hover{
    background-color:#888888;
}